.next-theconclave-bg{background: url(../img/next_the_conclave.jpg) no-repeat scroll 30% 30%/ cover; height: 75.5%}

.blue {
    color: #00C8F7;
}
@media only screen and (max-width: 767px){
.next-aftermovie{
width: 100%!important;
}
.next-theconclave-bg{height: auto}
}
