p .blogpost-cover-img {
  width: 100%;
}

.col-xs-12 p {
  position: relative;
  cursor: pointer;
}

.col-xs-12 p:nth-child(2) {
  display: inline-block;
}

.col-xs-12 p:nth-child(2):before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  background-color: rgba(255, 30, 88, 0.5);
  z-index: 1;
  transition: 0.2s all ease;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.col-xs-12 p:nth-child(2):hover:before {
  top: 0;
  opacity: 1;
}

.col-xs-12 p:nth-child(2):after {
  content: 'View post';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: 0.4s all ease;
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  z-index: 2;
}

.col-xs-12 p:nth-child(2):hover:after {
  opacity: 1;
}

a:hover {
  color: rgb(255, 30, 88)!important;
}

.navbar-header {
  display: none;
}

div.web-form-page {
  padding: 50px 50px 10px;
  background: #ffffff;
  border: 1px solid rgba(209, 216, 221, 1);
  border-radius: 3px;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.18);
}

@media only screen and (max-width: 767px) {
  div.web-form-page {
    width: 80%;
  }
}