<!-- Copyright Start  -->
<div class="copy-right-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
				<div class="copy-right">

					<p>Designed and Developed by Rotaract 3142</p>

				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="social-media">
					<ul>
						<li>
							<a href="//facebook.com/rotaract3142/" rel="no-follow" target="_blank">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="//twitter.com/rotaract_3142/" rel="no-follow" target="_blank">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="//linkedin.com/company/rotaract-district-3142/" rel="no-follow" target="_blank">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="//instagram.com/rotaract3142/" rel="no-follow" target="_blank">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a href="//youtube.com/channel/UCjcudjtctS51h_qXTOKFBrQ/videos" rel="no-follow" target="_blank">
								<i class="fa fa-youtube-play" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Copyright -->
